@media (max-width: 1286px)
    .hamburger
        &__label
            display: none
        &__wrapper
            background-color: #fff

@media (max-width: 1000px)
    .hamburger
        background-color: unset
        width: 50px
        padding: 0
        top: 10px
        right: 10px
        &__wrapper
            height: 50px
            width: 50px
            border-color: $main-color_light
