.hamburger
    position: fixed
    top: 20px
    right: 20px
    z-index: 2
    cursor: pointer
    display: flex
    align-items: center
    height: 60px
    &__wrapper
        height: 50px
        width: 50px
        border: 1.5px solid #CDC8BF
        border-radius: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        transition: transform 1s
    &_close
        .hamburger__label
            opacity: 0
        .hamburger__lines
            span
                &:nth-child(1)
                    transform: rotate(45deg) translate(6px, 6px)
                &:nth-child(2)
                    opacity: 0
                &:nth-child(3)
                    transform: rotate(-45deg) translate(6px, -6px)

    &__lines
        height: 18px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end
        span
            display: block
            width: 25px
            height: 1px
            background: #151812
    &__label
        font-weight: 300
        font-size: 18px
        letter-spacing: 5px
        transition: 1s all
    &_up

        .hamburger__label
            opacity: 0
            transform: rotate(-90deg) translate(-80%, 250%)
        .hamburger__wrapper
            transform: rotate(-90deg)
            span
                &:nth-child(1)
                    transform: rotate(45deg) translate(10px,-3px) scaleX(.5)
                &:nth-child(2)
                    transform: translate(0.5px, 0.5px)
                &:nth-child(3)
                    transform: rotate(-45deg) translate(9px,4px) scaleX(.5)
