@media (max-width: 1000px)
    .hamburger
        background-color: #ffffffc9
        width: 150px
        padding-left: 15px
        &__wrapper
            border-color: black

@media (max-width: 576px)
    .hamburger
        background-color: unset
        width: 50px
        padding: 0
        top: 10px
        right: 10px
        &__wrapper
            background-color: #fff
            height: 50px
            width: 50px
            border-color: $main-color_light
        &__label
            display: none
